/* CSS declarations go here */
.btn-primary {
    position:relative;
    alignment: center;
}

#title {
    text-align: center;
}
#addProjectPlusBtn {
    border: 0;
    outline: 0;
    background-color: inherit;
}

#title2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#date {
    text-align: center;
    margin-bottom: 10px;
}

.btn-primary {
    position:relative;
    float:right;
}

.btn-default {
}

.navbar-brand {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.glyphicon glyphicon-plus {

}


#makeAccount {

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.tab {
    width: 49.7%;
}

#dropdownMenu1 {
    width: 100%;
}

#inputDropdown {
    display: inline-block;
    width: 100%;
}

#btnAdd {
    border: 0;
    outline: 0;
    background-color: inherit;
}

.usertb {
    text-align: center;
}

.todotb {
    text-align: center;
}

#manager{
    height: 36px;
    font-size: 13px;
    padding-bottom: 10px;
    vertical-align:middle;
}
#out{
    height: 36px;
    font-size: 13px;

    vertical-align:middle;

}

#dropdownMenu2 {
    width: 73%;
}

#dropdownMenu3 {
    width: 100%;

}

#dropdownMenu4 {
    width: 83%;
}

#btnpro{
    alignment: center;
    position: absolute;
    margin: auto;
    text-align: center;

}
